<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Little Italy's Pizza</title>
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body background="pizza_bg.png">

  <%= yield %>

</body>
</html>