<h5>Thank you for purchasing our product!</h5>
<b>Name:</b>
<p><%= @pizza.full_name_with_space %></p>

<b>Order:</b>
<p><%= @pizza.quantity %> x <%= @pizza.type %> </p>

<b>Total:</b>
<%= @pizza.total %>