<!DOCTYPE html>
<html lang="en">
<head>
<meta charset ='utf-8'>
  <title>Calculator App</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <h1>My Calculator App</h1>

  <%= yield %>

</body>
</html>